#bootStrapOverride-background{
    background-color: black;
}

#bootStrapOverride-redButton{
    background-color: red;
    border-color: black;
    color: white;
}
#bootStrapOverride-socials{
    color: rgb(102, 93, 93);
}
#bootStrapOverride-navbar{
    background-color: black;
    color: red;
}
#bootStrapOverride-text{
    color:grey;
}

